body {
    background-image: url("background.png");
    background-size: cover;
    font-family: Source Sans, Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    text-align: center;
    height: 100vh;
    color: white;
}

.mainContainer {
    max-width: 50%;
    margin: auto;
    background-color: rgba(124, 23, 102, 0.5);
    padding: 10px;
    border-radius: 10px;
}

h1 {
    color: white;
    margin-top: 10px;
    margin-bottom: 10px;
}

h2 {
    color: white;
    font-size: 50px;
    margin-top: 0;
    margin-bottom: 20px;
}

button {
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    font-weight: bold;
    width: 200px;
    margin-bottom: 5px;
    border-radius: 5px;
}

.count-btn {
    width: 120px
}

#decrease-btn {
    background: rgb(187, 53, 70);
}

#increment-btn {
    background: rgb(25, 155, 25);
}

#save-btn {
    background: rgb(26, 166, 190);
}

